.container {
    width: 100%;
    height: 100%;
}
.colorBox {
    height: 100%;
    border: 2px solid black;
}
.colorPicker{
    margin-top: 5px;
}
.colorName{
    font-size: 2rem;
    font-weight: bold;
}